body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f2f5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-layout-header {
  background: #001529;
  color: white;
  padding: 0 24px;
}

.risk-high {
  background-color: #ffccc7;
  border-bottom: 2px solid #cf1322;
  cursor: help;
}

.risk-medium {
  background-color: #ffe7ba;
  border-bottom: 2px solid #d46b08;
  cursor: help;
}

.risk-low {
  background-color: #f6ffed;
  border-bottom: 2px solid #389e0d;
  cursor: help;
}
